<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40" >
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ dish.name | uppercase }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
      <mat-card-content>
        <p>
          {{ dish.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-list>
      <h3>comments </h3>
      <mat-list-item  *ngFor="let commentValue of dish.comments">
        <h4 matLine>{{ commentValue.comment }}</h4>
        <p matLine> {{ commentValue.rating }}stars </p>
        <p matLine> <span>-- {{ commentValue.author }} {{ commentValue.date | date }}</span> </p>

      </mat-list-item>
    </mat-list>

  </div>
  <div fxFlex fxFlexOffset="20px" class="form-size">
   <h3>your Comment</h3>
    <form novalidate [formGroup]="usercommentform" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="name" placeholder="Name" type="text">
        </mat-form-field>
        <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>

        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
  </div>

  <div fxFlex [hidden]="dish">
    <mat-spinner> </mat-spinner>
    <h4>loading ...... please wait!</h4>
  </div>
</div>
